<h1>Login To Twitter</h1>

<form action="/login" method="post">

  <label for="username">Username</label>
  <input id="username" type="text" name="username" required>

  <br><br>

  <label for="password">Password</label>
  <input id="password" type="password" name="password" required>

  <br><br>
  <input type="submit" value="submit">
</form>

<!--
params = {
  username => "",
  password => "",
} -->
